#logocustom{
    display: grid;
    grid-template-columns: auto 50% auto;
    grid-template-areas: 
    ". . ."
    ". logocustom ."
    ". . .";
    grid-template-rows: 20% auto 20%;
    height: 50vh;

    >div{
        grid-area: logocustom;
        display: flex;
        justify-content: center;
        align-items: center;


        // svg{
        //     scale: 2;
        //     #logo-custom{

        //     }

        //     // width: 50%;
            
        // }
    }
}

    