#recipe{
    margin-top: rem-calc(220);
    margin-bottom: rem-calc(220);
    display: grid;
    grid-template-columns: 10% auto 5% auto 10%;
    grid-template-areas: ". one . two .";
    line-height: 40px;
    

    #steps{
        justify-content: left;
        grid-area: one;

        #title2{
            margin-top: 90px;
        }

    }

    #picture{
        justify-content: right;

        background-size: cover;

        img {
            height: 30vh;
            width: 20vw;
            grid-area: two;
            position: absolute;
            
          }

          #img1{
          }
    }
}